.well{
    margin-left: 50px;
    margin-top: 60px;
    border:0;
    height:30%;
}

.panel-default{
    background-image: none;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    width: auto;
    height:30%;
    margin-left: 50px;
    margin-bottom:0px;
    margin-top: 0px;

}

.panel-default > .panel-heading {
    background-image: none;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    width: auto;
    height:auto;
    margin-bottom:0px;
    margin-top: 0px;

}

.panel-default > .panel-body {
    background-image: none;
    background-color: white;
    color: black;
    border:none;
    outline: none;
    width: auto;
    margin-bottom:0px;
    height:30%;
    margin-top: 0px;

}

.panel-default > .panel-title {
    outline: none;
    border:none;
    width: auto;
    margin-bottom:0px;
    height:auto;
    margin-top: 0px;
}

.panel-default{
    margin-bottom:0px;
}

.logo{
    margin-top:0px;
}

.myDiv{
    margin-right:100px;
    position: fixed;
    right: 300px;
}

.wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}
