.panel-default > .panel-heading {
    background-image: none;
    background-color: black;
    color: white;
    border: black;
    outline: none;
    width: auto;

}

.panel-default > .panel-body {
    background-image: none;
    background-color: white;
    color: black;
    border:white;
    outline: none;
    width: auto;

}

.panel-default > .panel-title {
    outline: none;
    width: auto;

}